<div [formGroup]="model">
  <label>
    Palíndromo:
    <input
      autofocus
      name="task"
      formControlName="task"
      (ngModel)="(model.value.item)"
      type="text"
      (keyup.enter)="addItem()"
    />
  </label>

  <p>Lista de Palíndromos:</p>
  <ul>
    <li *ngFor="let item of lista">
      <span *ngIf="validarPalindromo(item)" class="palindromoOK">
        {{ item }} {{ nrcaracteres(item) }}
      </span>
      <span *ngIf="!validarPalindromo(item)" class="palindromoNOK">
        {{ item }}
      </span>
    </li>
  </ul>
</div>
